* {
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-title {
  text-transform: uppercase;
}

.btn-group {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 0.5rem;
  border: 1px solid transparent;
  border-radius: 6px;
  width: 140px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #005;
  text-transform: uppercase;
  font-weight: bold;
}

.output {
  position: relative;
  width: 600px;
  margin: 5%;
  border: 2px dashed #005;
  padding: 5%;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 1.5;
  &::before {
    content: 'result:';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.result {
  @extend .output;
  width: 80%;
  max-width: 1000px;
  padding: 2%;
  border: none;
  font-size: 3rem;
  &::before {
    content: '';
    display: none;
  }
}

.paper {
  background-color: beige;
}

.rock {
  background-color: darkgrey;
}

.scissors {
  background-color: burlywood;
}

.newGame {
  @extend .btn;
  background-color: lime;
  position: absolute;
  top: 50px;
  right: 50px;
}